<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="css/styles.css">

	<link rel="icon" href="images/logo/favicon.ico">

	<title>Оформление заказа - Интернет-магазин японской косметики Сайко</title>
</head>

<body>
	{% include "components/organisms/" + device_type + "/header.html" %}

	<div class="body">
		{% if device_type == 'desktop' %}
			{% include "components/molecules/body-left.html" %}
		{% endif %}

		<div id="buying">
			{% include "components/organisms/" + device_type + "/buying.html" %}
		</div>
	</div>

	<span class="inter-horizontal-divider"></span>

	{% include "components/organisms/" + device_type + "/footer.html" %}
    
	<script src="js/device-detector.js"></script>
	<script src="js/flow.js"></script>
	<script type="module" src="js/main.js"></script>
</body>

</html>