<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" href="css/styles.css">

	<link rel="icon" href="images/logo/favicon.ico">

	<title>Моя корзина - Интернет-магазин японской косметики Сайко</title>
</head>

<body>
	{% include "components/organisms/header.html" %}

	<div class="body">
		{% include "components/molecules/body-left.html" %}

		<div id="cart">
			{% include "components/organisms/cart.html" %}
		</div>
	</div>

	<span class="inter-horizontal-divider"></span>

	{% include "components/organisms/footer.html" %}
    
	<script src="js/flow.js"></script>
	<script type="module" src="js/main.js"></script>
</body>

</html>