<div class="card-v1">
    <img class="card-v1-heart" src="images/symbols/heart/gray-normal.svg" alt="heart">

    <a class="card-v1-image-a" href="/card?id={{ good.id }}">
        <img class="card-v1-image" src="{{ good.icons[0] }}" alt="image">
    </a>

    <a class="card-v1-title-a" href="/card?id={{ good.id }}">
        <p class="card-v1-title poppins-11-reg">
            {{ good.title }}
        </p>
    </a>
    
    <p class="card-v1-price poppins-13-bold">
        {{ good.price }} руб.
    </p>

    <button class="card-v1-button open-sans-14-reg">
        В корзину
    </button>
</div>