<div id="card-v3">
    <img id="card-v3-image" src="" alt="">

    <div id="card-v3-info">
        <p id="card-v3-info-title" class="open-sans-16-reg">
            
        </p>

        <div id="card-v3-info-desc">
            <p id="card-v3-info-desc-weight-text" class="arial-12-reg">
                Вес
            </p>
            <p id="card-v3-info-desc-weight" class="arial-12-bold">

            </p>
            <p id="card-v3-info-desc-maker-text" class="arial-12-reg">
                Производитель
            </p>
            <p id="card-v3-info-desc-maker" class="arial-12-bold">

            </p>
        </div>
    </div>

    <div id="card-v3-price">
        <p id="card-v3-price-price">

        </p>

        <p id="card-v3-price-text">
            цена за 1 шт
        </p>
    </div>

    <div id="card-v3-actions">

    </div>

    <div id="card-v3-summary">

    </div>

    <img id="card-v3-button" src="images/symbols/cross/normal.svg" alt="">
</div>