{% for good in goods %}
    <div id="card-v4">
        <img id="card-v4-image" src="{{ good.icons[0] }}" alt="image">

        <a id="card-v4-url" href="/card?id={{ good.id }}">
            <p id="card-v4-title" class="poppins-14-bold">
                {{ good.title }}
            </p>
        </a>

        <p id="card-v4-count" class="poppins-14-reg">
            1 шт
        </p>

        <div id="card-v4-prices">
            <p id="card-v4-prices-new" class="poppins-14-bold">
                {{ good.price - (good.price * (good.discount / 100)) }} руб.
            </p>

            <p id="card-v4-prices-old" class="poppins-13-bold">
                {{ good.price }} руб.
            </p>
        </div>
    </div>
{% endfor %}