<div id="buying-blocks">
    <div id="buying-blocks-auth">
        <div id="buying-blocks-auth-header">
            <p id="buying-blocks-auth-header-symbol" class="open-sans-14-bold">
                1
            </p>

            <p id="buying-blocks-auth-header-text" class="open-sans-22-semi">
                ВХОД НА САЙТ
            </p>
        </div>

        
        <div id="buying-blocks-auth-body">
            <div id="buying-blocks-auth-left">
                <p id="buying-blocks-auth-left-title" class="open-sans-18-reg">
                    ПОЖАЛУЙСТА, ВОЙДИТЕ В ЛИЧНЫЙ КАБИНЕТ (ЕСЛИ ВЫ УЖЕ ЗАРЕГИСТРИРОВАНЫ)
                </p>
    
                <div id="buying-blocks-auth-left-login">
                    <p id="buying-blocks-auth-left-login-text" class="poppins-13-reg">
                        Логин
                    </p>
    
                    <input id="buying-blocks-auth-left-login-input" type="text" name="" id="">
                </div>
    
                <div id="buying-blocks-auth-left-password">
                    <p id="buying-blocks-auth-left-password-text" class="poppins-13-reg">
                        Пароль
                    </p>
    
                    <input id="buying-blocks-auth-left-password-input" type="text" name="" id="">
                </div>
    
                <div id="buying-blocks-auth-left-rememberme">
                    <input id="buying-blocks-auth-left-rememberme-input" type="checkbox">
    
                    <label for="buying-blocks-auth-left-rememberme-input" id="buying-blocks-auth-left-rememberme-text" class="poppins-14-reg">
                        Запомнить меня
                    </label>
                </div>
    
                <button id="buying-blocks-auth-left-button" class="poppins-14-reg">
                    Войти
                </button>
    
                <a id="buying-blocks-auth-left-forgot" class="poppins-14-reg" href="">
                    Забыли пароль?
                </a>
            </div>
    
            <div id="buying-blocks-auth-right">
                <div id="buying-blocks-auth-right-up">
                    <p id="buying-blocks-auth-right-up-text" class="poppins-13-reg">
                        Если вы впервые на сайте, и хотите, чтобы мы вас помнили и все ваши заказы сохранялись, заполните регистрационную форму.
                    </p>

                    <button id="buying-blocks-auth-right-up-button" class="poppins-14-reg">
                        Зарегистрироваться
                    </button>
                </div>
                
                <p id="buying-blocks-auth-right-text" class="poppins-11-reg">
                    Символом "звездочка" (*) отмечены обязательные для заполнения поля.<br>
                    После регистрации вы получите информационное письмо.<br>
                    Личные сведения, полученные в распоряжение интернет-магазина при регистрации или каким-либо иным образом, не будут без разрешения пользователей передаваться третьим организациям и лицам за исключением ситуаций, когда этого требует закон или судебное решение.   
                </p>
            </div>
        </div>
    </div>

    <div id="buying-blocks-goods">
        <div id="buying-blocks-goods-header">
            <p id="buying-blocks-goods-header-symbol" class="open-sans-14-bold">
                2
            </p>

            <p id="buying-blocks-goods-header-text" class="open-sans-22-semi">
                ТОВАРЫ В ЗАКАЗЕ
            </p>
        </div>

        <div id="buying-blocks-goods-list">
            {% include "components/atoms/card-v4.html" %}
        </div>
    </div>

    <div id="buying-blocks-info">
        <p class="buying-blocks-info-text poppins-20-bold">
            Для беcплатной доставки осталось добавить к заказу товары на сумму:
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            9974руб. (в пределах 3кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            19974руб. (в пределах 4,5кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            29974руб. (в пределах 6кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            39974руб. (в пределах 7,5кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            49974руб. (в пределах 9кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            59974руб. (в пределах 10,5кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            69974руб. (в пределах 12кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            79974руб. (в пределах 13,5кг.)
        </p>
        <p class="buying-blocks-info-text poppins-20-bold">
            89974руб. (в пределах 15кг.)
        </p>
    </div>
</div>

<div id="buying-summary">
    <p id="buying-summary-text" class="poppins-13-bold">
        Товаров на:
    </p>

    <p id="buying-summary-new-price" class="poppins-13-reg">
        {{ summary.new_price }} руб.
    </p>

    <p id="buying-summary-old-price" class="poppins-13-reg">
        {{ summary.old_price }} руб.
    </p>

    <span class="buying-summary-horizontal-divider"></span>

    <div id="buying-summary-weight">
        <p id="buying-summary-weight-text" class="poppins-13-reg">
            Общий вес:
        </p>

        <p id="buying-summary-weight-weight" class="poppins-13-reg">
            {{ summary.weight }} кг
        </p>
    </div>

    <span class="buying-summary-horizontal-divider"></span>

    <div id="buying-summary-delivery">
        <p id="buying-summary-delivery-text" class="poppins-13-reg">
            Доставка:
        </p>

        <p id="buying-summary-delivery-delivery" class="poppins-13-reg">
            890 руб.
        </p>
    </div>

    <div id="buying-summary-discount">
        <p id="buying-summary-discount-text" class="poppins-13-reg">
            Экономия:
        </p>

        <p id="buying-summary-discount-discount" class="poppins-13-reg">
            618 руб.
        </p>
    </div>

    <p id="buying-summary-total-text" class="poppins-13-bold">
        Итого:
    </p>

    <p id="buying-summary-total" class="poppins-27-reg">
        {{ summary.new_price + 890 - 618 }} руб.
    </p>
</div>