<footer id="footer">
    <div id="footer-up">
        <div id="footer-up-column-first" class="footer-up-column">
            <a href="/">
                <img id="footer-up-column-first-image" src="images/logo/logo.png" alt="logo">
            </a>
    
            <p class="footer-up-column-first-text poppins-14-reg">Магазин SaikoTrade - интернет-магазин товаров из Японии для здоровья и красоты.</p>
            <p class="footer-up-column-first-text poppins-14-reg">Все самое лучшее из страны восходящего солнца собрано в нашем магазине для Вас, наши дорогие клиенты!</p>
    
            <a href="https://play.google.com/store/apps/details?id=com.saikotrade.app&hl=ru&gl=US">
                <img class="footer-up-column-first-image" src="images/download/googleplay.png" alt="googleplay">
            </a>
            <a href="https://apps.apple.com/us/app/saikotrade/id1565500745">
                <img class="footer-up-column-first-image" src="images/download/appstore.png" alt="appstore">
            </a>
    
            <p class="footer-up-column-first-text poppins-14-reg">
                © 2025 Saikotrade CO, LTD<br>Работаем по агентскому договору от 20.03.2023г. Агент на территории РФ:<br><br>ИП Ли Мира Рудольфовна<br>ИНН: 272506474520<br>ОГРНИП: 322272400018433
            </p>
        </div>
    
        <div class="footer-up-column">
            <div class="footer-up-title-wrapper" onclick="toggleFooterMenu(this)">
                <p class="footer-up-title poppins-20-bold">МЕНЮ САЙТА</p>
                <span class="footer-menu-toggle">+</span>
            </div>
            <div class="footer-up-paths">
                <a class="footer-up-path" href="https://saikotrade.com/">
                    <p class="poppins-14-reg footerdocs">Главная</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/blog/">
                    <p class="poppins-14-reg footerdocs">Блог</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/o-nas/">
                    <p class="poppins-14-reg footerdocs">О нас</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/dostavka-i-oplata/">
                    <p class="poppins-14-reg footerdocs">Доставка и оплата</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/kontakty/">
                    <p class="poppins-14-reg footerdocs">Контакты</p>
                </a>
            </div>
        </div>
    
        <div class="footer-up-column">
            <div class="footer-up-title-wrapper" onclick="toggleFooterMenu(this)">
                <p class="footer-up-title poppins-20-bold">КАТАЛОГ ТОВАРОВ</p>
                <span class="footer-menu-toggle">+</span>
            </div>          
            <div class="footer-up-paths">
                <a class="footer-up-path" href="https://saikotrade.com/katalog-tovarov/apparaty-i-massazhery/">
                    <p class="poppins-14-reg">Аппараты и массажеры</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/katalog-tovarov/detskie-tovary/">
                    <p class="poppins-14-reg">Детские товары</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/katalog-tovarov/kosmetika/">
                    <p class="poppins-14-reg">Косметика</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/katalog-tovarov/yaponskie-produkty/">
                    <p class="poppins-14-reg">Японские продукты</p>
                </a>
                <a class="footer-up-path" href="https://saikotrade.com/aktsii">
                    <p class="poppins-14-reg ">Акции</p>
                </a>
            </div>
        </div>
    
        <div class="footer-up-column">
            <div class="footer-up-title-wrapper" onclick="toggleFooterMenu(this)">
                <p class="footer-up-title poppins-20-bold">КОНТКАТЫ</p>
                <span class="footer-menu-toggle">+</span>
            </div>
            <div class="footer-up-paths footer-up-paths--last">
                <div class="footer-up-contact">
                    <img class="footer-up-icon" src="images/icons/phone-red.svg" alt="">
                    <p id="footer-up-contact-pre-phone" class="poppins-14-reg">JP</p>
                    <a id="footer-up-contact-phone" class="poppins-14-bold" href="https://wa.me/818058535525/?text=Здравствуйте!%20Меня%20интересует">+8180-58-53-55-25</a>
                </div>
    
                <div class="footer-up-contact">
                    <img class="footer-up-icon" src="images/icons/whatsapp.svg" alt="">
                    <a id="footer-up-contact-whatsapp" class="poppins-14-bold" href="https://wa.me/818058535525/?text=Здравствуйте!%20Меня%20интересует">Написать в WhatsApp</a>
                </div>
    
                <div class="footer-up-contact">
                    <img class="footer-up-icon" src="images/icons/geo.svg" alt="">
                    <p id="footer-up-contact-geo" class="poppins-14-reg">Адрес в JP: Toyama ken Imizu shi Ebie Neriya 429-1</p>
                </div>
    
                <div class="footer-up-contact">
                    <img class="footer-up-icon" src="images/icons/email.svg" alt="">
                    <a id="footer-up-contact-email" class="poppins-14-reg" href="https://saikotrade.com/mailto%info@saikotrade.com">info@saikotrade.com</a>
                </div>
            </div>
        </div>
    </div>

    <style>
    .footer-up-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .footer-menu-toggle {
        font-size: 24px;
        margin-left: 10px;
        transition: transform 0.3s;
    }
    
    .footer-up-paths {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, margin-bottom 0.3s ease;
    }
    
    .footer-up-paths.active {
        max-height: 500px; /* Достаточно для всех пунктов */
        margin-bottom: 15px; /* Отступ снизу при открытии */
    }
    
    .footer-up-title-wrapper.active .footer-menu-toggle {
        transform: rotate(45deg);
    }
    </style>
    
    <script>
    function toggleFooterMenu(element) {
        const wrapper = element.closest('.footer-up-column');
        const menu = wrapper.querySelector('.footer-up-paths');
        const toggle = wrapper.querySelector('.footer-menu-toggle');
        
        wrapper.classList.toggle('active');
        menu.classList.toggle('active');
        toggle.classList.toggle('active');
    }
    </script>
    
    <span class="footer-horizontal-divider"></span>
    
    <div id="footer-center">
        <p class="footer-center-text poppins-14-reg">
            © 2025 SaikoTrade.com Все права защищены. | Сайт разработан с <span class="font-icons">&#xe900;</span> и <span class="font-icons">&#xe901;</span> компанией "Глобатек"
        </p>
        
        <div class="footer-center-media">
            <p class="footer-center-text poppins-14-reg" style="white-space: nowrap;">Мы в соцсетях :</p>
    
            <a href="https://www.facebook.com/saikotrade-105059154610368">
                <img src="images/media/fb.svg" alt="fb">
            </a>
            <a href="https://www.instagram.com/saikotrade">
                <img src="images/media/in.svg" alt="in">
            </a>
            <a href="https://vk.com/saikotrade">
                <img src="images/media/vk.svg" alt="vk">
            </a>
            <a href="https://t.me/saikotrade">
                <img src="images/media/tg.svg" alt="tg">
            </a>
            <a href="https://ok.ru/profile/740191285">
                <img src="images/media/ok.svg" alt="ok">
            </a>
        </div>
    </div>
    
    <span class="footer-horizontal-divider"></span>
    
    <div id="footer-down">
        <div id="footer-down-docs"> 
            <a class="footer-down-docs" href="https://saikotrade.com/kak-zakazat/">
                <p class="poppins-14-reg">Как заказать</p>
            </a>
    
            <a class="footer-down-docs" href="https://saikotrade.com/obrabotka-personalnykh-dannykh">
                <p class="poppins-14-reg">Обработка персональных данных</p>
            </a>
    
            <a class="footer-down-docs" href="https://saikotrade.com/otkaz-ot-otvetstvennosti">
                <p class="poppins-14-reg">Отказ от ответственности</p>
            </a>
        </div>
    
        <div id="footer-down-media">
            <a href="https://saikotrade.com/">
                <img src="images/payments/mastercard1.png" alt="mastercard1">
            </a>
            
            <a href="https://saikotrade.com/">
                <img src="images/payments/mastercard2.png" alt="mastercard2">
            </a>
            
            <a href="https://saikotrade.com/">
                <img src="images/payments/visa1.png" alt="visa1">
            </a>
                
            <a href="https://saikotrade.com/">
                <img src="images/payments/visa2.png" alt="visa2">
            </a>
                
            <a href="https://saikotrade.com/">
                <img src="images/payments/paypal.png" alt="paypal">
            </a>
        </div>
    </div>
</footer>