<header id="header">
	<div id="header-center">
		<div id="header-center-logo">
			<a href="/">
				<img id="header-center-logo-image" src="images/logo/logo.png" alt="logo">
			</a>
		</div>
	
		<div id="header-center-contacts">
			<div id="header-center-contact">
				<img src="images/icons/phone-black.svg" alt="phone">
				<p id="header-center-contact-number" class="poppins-14-bold">+8180-58-53-55-25</p>
			</div>
	
			<div id="header-center-contact">
				<img src="images/icons/email.svg" alt="email">
				<p id="header-center-contact-email" class="poppins-14-bold">info@saikotrade.com</p>
			</div>
		</div>
	</div>
	
	<div id="header-down">
		<div id="header-center-search">
			<input id="header-center-search-field" type="text" placeholder="Поиск по сайту...">
			<div id="header-center-search-button" onmouseover="headerCenterSearch(true)" onmouseout="headerCenterSearch(false)">
				<img src="images/icons/search.svg" alt="search">
			</div>
		</div>
	</div>
</header>