#card-v1 {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    flex: 0 0 auto;
}

#card-v1-heart {
    width: 30px;
    height: 30px;
    align-self: flex-start;
    margin-bottom: 5px;
    content: url('../images/symbols/heart/gray-normal.svg');
}

#card-v1-heart:hover {
    content: url('../images/symbols/heart/red-normal.svg');
}

#card-v1-image {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

#card-v1-title {
    color: var(--color-GRAY-DESC);
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

#card-v1-title:hover {
    color: var(--color-RED);
}

#card-v1-price {
    color: var(--color-PRICES);
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

#card-v1-button {
    background-color: var(--color-RED);
    border: none;
    color: var(--color-WHITE);
    padding: 8px 15px;
    border-radius: 5px;
    width: auto;
    margin: 0 auto;
    cursor: pointer;
}

#card-v1-button:hover {
    background-color: var(--color-LIGHT-RED);
}