#card-v1 {
    width: 150px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#card-v1-heart {
    width: 30px;
    height: 30px;
    align-self: flex-start;
}

#card-v1-image {
    width: 100px;
    height: 100px;
}

#card-v1-title {
    color: var(--color-GRAY-DESC);
    height: 50px;
    text-align: center;
}

#card-v1-title:hover {
    color: var(--color-RED);
}

#card-v1-price {
    color: var(--color-PRICES);
}

#card-v1-button {
    background-color: var(--color-RED);
    border: none;
    color: var(--color-WHITE);
    padding: 3% 5%;
    border-radius: 5px;
}

#card-v1-button:hover {
    background-color: var(--color-LIGHT-RED);
}