<div id="main-right-catalog-block" style="width: 120px; height: auto">
    <img id="main-right-catalog-block-icon" src="" alt="main-right-catalog-block" onmouseover="mainRightCatalogIcon(this, true)" onmouseout="mainRightCatalogIcon(this, false)" style="background-color: var(--color-LIGHT-BEIGE); border: 2px solid; border-radius: 5px; width: 120px; height: 120px;">

    <a href="" onmouseover="mainRightCatalogText(this, true)" onmouseout="mainRightCatalogText(this, false)">
        <p id="main-right-catalog-block-text" class="poppins-14-bold" style="color: var(--color-GRAY)"></p>
    </a>
</div>