<div id="body-left-categories">
    <p id="body-left-categories-text" class="poppins-16-bold">
        КАТЕГОРИИ
    </p>
</div>

<div id="body-left-categories-list">
    <div class="body-left-categories-list-item">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">
                ЗДОРОВЬЕ
            </p>
        </a>
    </div>

    <span class="body-left-horizontal-divider"></span>

    <div class="body-left-categories-list-item">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">
                КОСМЕТИКА
            </p>
        </a>
    </div>

    <span class="body-left-horizontal-divider"></span>

    <div class="body-left-categories-list-item">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">
                ЯПОНСКИЕ ПРОДУКТЫ
            </p>
        </a>
    </div>
    
    <span class="body-left-horizontal-divider"></span>

    <div class="body-left-categories-list-item">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">
                ДЕТСКИЕ ТОВАРЫ
            </p>
        </a>
    </div>
    
    <span class="body-left-horizontal-divider"></span>

    <div class="body-left-categories-list-item">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">
                АППАРАТЫ И МАССАЖЕРЫ
            </p>
        </a>
    </div>
    
    <span class="body-left-horizontal-divider"></span>

    <div class="body-left-categories-list-item">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">
                ТОВАРЫ ДЛЯ ДОМА
            </p>
        </a>
    </div>
    
    <span class="body-left-horizontal-divider"></span>

    <div class="body-left-categories-list-item">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">
                ПОДАРОЧНЫЕ СЕРТИФИКАТЫ
            </p>
        </a>
    </div>
</div>

<div id="body-left-hits">
    <p id="body-left-hits-text" class="poppins-16-bold">
        ХИТЫ ПРОДАЖ!!!
    </p>
</div>

<div id="body-left-hits-list">
    
</div>