<div style="background-color: var(--color-BLACK);">
    <p class="poppins-16-bold" style="color: var(--color-WHITE)">КАТЕГОРИИ</p>
</div>

<div>
    <div style="width: 250px; height: 31px; padding-bottom: 5px;">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">ЗДОРОВЬЕ</p>
        </a>
    </div>

    <div style="width: 250px; height: 31px; padding-bottom: 5px;">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">КОСМЕТИКА</p>
        </a>
    </div>

    <div style="width: 250px; height: 31px; padding-bottom: 5px;">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">ЯПОНСКИЕ ПРОДУКТЫ</p>
        </a>
    </div>

    <div style="width: 250px; height: 31px; padding-bottom: 5px;">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">ДЕТСКИЕ ТОВАРЫ</p>
        </a>
    </div>

    <div style="width: 250px; height: 31px; padding-bottom: 5px;">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">АППАРАТЫ И МАССАЖЕРЫ</p>
        </a>
    </div>

    <div style="width: 250px; height: 31px; padding-bottom: 5px;">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">ТОВАРЫ ДЛЯ ДОМА</p>
        </a>
    </div>

    <div style="width: 250px; height: 31px; padding-bottom: 5px;">
        <a href="https://saikotrade.com/katalog-tovarov/zdorove/">
            <p class="poppins-14-reg left-string">ПОДАРОЧНЫЕ СЕРТИФИКАТЫ</p>
        </a>
    </div>
</div>

<div style="background-color: var(--color-BLACK);">
    <p class="poppins-16-bold" style="color: var(--color-WHITE)">ХИТЫ ПРОДАЖ!!!</p>
</div>

<div id="block4" style="width: 250px; height: 1200px; display: grid; grid-template-columns: repeat(2, 1fr);">
    
</div>