<div id="card-title">
    <p id="card-title-text" class="poppins-35-reg">
        Сквален, Orihiro
    </p>
</div>

<span class="card-horizontal-divider"></span>

<div id="card-preview">
    <img id="card-preview-icon" src="images/cards/9.jpeg" alt="icon">

    <div id="card-preview-right">
        <div id="card-preview-right-empty"></div>

        <div id="card-preview-right-block">
            <div id="card-preview-right-block-block">
                <p id="card-preview-right-block-block-old-price" class="arial-16-bold">
                    <del>
                        1800 руб.
                    </del>
                </p>
                <p id="card-preview-right-block-block-new-price" class="arial-27-bold">
                    1620 руб.
                </p>
                <p id="card-preview-right-block-block-discount" class="arial-14-bold">
                    Скидка 180 руб.
                </p>
                <div id="card-preview-right-block-block-choice">
                    <img id="card-preview-right-block-block-choice-minus" src="images/symbols/plus-minus/minus2.png" alt="minus">

                    <input id="card-preview-right-block-block-choice-input" value="1" type="text" maxlength="3" style="width: 25px; text-align: center;">

                    <img id="card-preview-right-block-block-choice-plus" src="images/symbols/plus-minus/plus2.png" alt="plus">
                </div>
                <p id="card-preview-right-block-block-count" class="arial-12-reg">
                   шт 
                </p>
                <button id="card-preview-right-block-block-button-to-basket" class="open-sans-14-bold">
                    В КОРЗИНУ
                </button>
                <div id="card-preview-right-block-block-button-to-favourite" onmouseover="cardToFavourite(true)" onmouseout="cardToFavourite(false)">
                    <img id="card-preview-right-block-block-button-to-favourite-icon" src="images/symbols/heart/gray-normal.svg" alt="heart">
                    <p id="card-preview-right-block-block-button-to-favourite-text" class="arial-15-bold">
                        В избранное
                    </p>
                </div>
            </div>

            <p id="card-preview-right-block-text" class="poppins-14-bold">
                Стоимость и срок доставки зависит от страны и службы доставки, рассчитывается на этапе оформления заказа
            </p>
        </div>
    </div>
</div>

<div id="card-info">
    <div id="card-info-buttons">
        <button id="card-info-button-desc" data-tab="card-info-desc" class="card-info-button poppins-13-bold">
            ОПИСАНИЕ
        </button>

        <button id="card-info-button-params" data-tab="card-info-params" class="card-info-button poppins-13-bold">
            ХАРАКТЕРИСТИКИ
        </button>

        <button id="card-info-button-reviews" data-tab="card-info-reviews" class="card-info-button poppins-13-bold">
            ОТЗЫВЫ
        </button>
    </div>

    <div id="card-info-container">
        <p id="card-info-desc" class="tab-content active poppins-14-reg">
            <b>Orihiro Натто Кинадза</b><br>
            <br>
            <i><b>Описание:</b></i><br>
            <br>
            Натто Кинадза - уникальный продукт, который создан на основе соевых бобов с ферментом кинадза натто. Комплекс эффективен в борьбе с диабетом, атеросклерозом, тромбозом и гипертонией.<br>
            <br>
            Ученые определили, что регулярное потребление Натто Кинадза позволяет поддерживать здоровой сердечно-сосудистую систему и избавиться от проблем с вязкостью крови. Бобы сои имеют высокую фибринолитическую активность, а поэтому способствуют растворению фибрина - белка, отвечающего за вязкость крови.<br>
            <br>
            <i><b>Полезные свойства комплекса Натто Кинадза:</b></i><br>
            <br>
            - Способствует снижению уровня холестерина;<br>
            - Растворяет тромбы и поддерживает эластичность сосудов (актуально при стенокардии, ишемической болезни сердца, атеросклерозе и ишемическом инсульте);<br>
            - Улучшает общее состояние при диабетах;<br>
            - Регулирует кровяное давление (гипертоническая болезнь);<br>
            - Снимает мышечную усталость и боли в ногах при ходьбе;<br>
            - Улучшает память и интеллект;<br>
            - Способствует регенерации порезов, ран, язв и помогает в случаях, когда раны подолгу не заживают;<br>
            - Избавляет от частого покалывания и онемения в стопах ног и кистях рук.<br>
            <br>
            <i><b>Комплекс Натто Кинадза следует применять при:</b></i><br>
            <br>
            - Ишемической болезни сердца;<br>
            - Диабете;<br>
            - Повышенном содержании холестерина в крови;<br>
            - Гипертонии;<br>
            - При мышечной усталости;<br>
            - После сердечного приступа или инсульта;<br>
            - При онкологических заболеваниях;<br>
            - При снижении интеллекта или памяти (возрастные болезни).<br>
            <br>
            <i><b>Состав:</i></b> экстракт бобов сои Натто – 100 мг. ( bacillus natto - 2000 FV). Синтезы жирных кислот – активизируют фибринолиз тромбов. Дополнительно: лецитин сои, соевое масло, пчелиный воск<br>
            <br>
            Способ применения: по 1 капсуле 3 раза в день во время приема пищи.<br>
            <br>
            Меры предосторожности: прежде чем принимать экстракт сои Натто, проконсультируйтесь со своим лечащим врачом, если вы принимаете лекарства, которые воздействуют на свёртывание крови или артериальное давление, такие как аспирин, кумадин (варфарин), витамин-К, гепарин, диуретики, ингибиторы ангиотензин-конвертирующего энзима, бета-блокаторы, а так же если вы беременны или кормите грудью.<br>
            <br>
            <u><b>Не является лекарственным средством. Перед употреблением проконсультируйтесь с врачом.</b></u><br>
            <br>
            <i>Объём: на 20 дней
            <br>
            Страна-производитель: Orihiro, Япония<br>
        </i></p>
    
        <p id="card-info-params" class="tab-content poppins-14-reg">
            params
        </p>
    
        <p id="card-info-reviews" class="tab-content poppins-14-reg">
            reviews
        </p>
    </div>
</div>