<span style="display: block; width: 100%; height: 2px; background-color: var(--color-RED)"></span>

<div id="up" style="width: 1230px; height: 600px; margin: 50px; display: flex">
    <div style="width: 300px; height: 600px;">
        <img src="images/logo/logo.png" alt="logo">
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">Магазин SaikoTrade - интернет-магазин товаров из Японии для здоровья и красоты.</p>
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">Все самое лучшее из страны восходящего солнца собрано в нашем магазине для Вас, наши дорогие клиенты!</p>
        <img src="images/download/googleplay.png" alt=""googleplay>
        <img src="images/download/appstore.png" alt="appstore">
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">© 2025 Saikotrade CO, LTD
            Работаем по агентскому договору от 20.03.2023г. Агент на территории РФ:
            ИП Ли Мира Рудольфовна
            ИНН: 272506474520
            ОГРНИП: 322272400018433</p>
    </div>

    <div style="width: 910px; height: 600px; display: flex">
        <div style="width: 310px; height: 600px;">
            <p class="poppins-20-bold" style="color: var(--color-BLACK)">МЕНЮ САЙТА</p>
            <span style="display: block; width: 50px; height: 2px; background-color: var(--color-RED)"></span>

            <div style="width: 310px; height: 225px; color: var(--color-GRAY)">
                <a href="https://saikotrade.com/">
                    <p class="poppins-14-reg footerdocs">Главная</p>
                </a>
                <a href="https://saikotrade.com/blog/">
                    <p class="poppins-14-reg footerdocs">Блог</p>
                </a>
                <a href="https://saikotrade.com/o-nas/">
                    <p class="poppins-14-reg footerdocs">О нас</p>
                </a>
                <a href="https://saikotrade.com/dostavka-i-oplata/">
                    <p class="poppins-14-reg footerdocs">Доставка и оплата</p>
                </a>
                <a href="https://saikotrade.com/kontakty/">
                    <p class="poppins-14-reg footerdocs">Контакты</p>
                </a>
            </div>
        </div>

        <div style="width: 310px; height: 600px">
            <p class="poppins-20-bold" style="color: var(--color-BLACK)">КАТАЛОГ ТОВАРОВ</p>
            <span style="display: block; width: 50px; height: 2px; background-color: var(--color-RED)"></span>

            <div style="width: 310px; height: 225px">
                <a href="https://saikotrade.com/katalog-tovarov/apparaty-i-massazhery/">
                    <p class="poppins-14-reg footerdocs">Аппараты и массажеры</p>
                </a>
                <a href="https://saikotrade.com/katalog-tovarov/detskie-tovary/">
                    <p class="poppins-14-reg footerdocs">Детские товары</p>
                </a>
                <a href="https://saikotrade.com/katalog-tovarov/kosmetika/">
                    <p class="poppins-14-reg footerdocs">Косметика</p>
                </a>
                <a href="https://saikotrade.com/katalog-tovarov/yaponskie-produkty/">
                    <p class="poppins-14-reg footerdocs">Японские продукты</p>
                </a>
                <a href="https://saikotrade.com/aktsii">
                    <p class="poppins-14-reg footerdocs">Акции</p>
                </a>
            </div>
        </div>

        <div style="width: 310px; height: 600px;">
            <p class="poppins-20-bold" style="color: var(--color-BLACK)">КОНТАКТЫ</p>
            <span style="display: block; width: 50px; height: 2px; background-color: var(--color-RED)"></span>

            <div style="width: 310px; height: 225px; color: var(--color-GRAY)">
                <p>
                    <a href="https://wa.me/818058535525/?text=Здравствуйте!%20Меня%20интересует"></a>
                </p>
                <a href=""></a>
                <a href="https://wa.me/818058535525/?text=Здравствуйте!%20Меня%20интересует"></a>
                <p></p>
                <a href="https://saikotrade.com/mailto%info@saikotrade.com"></a>
            </div>
        </div>
    </div>
</div>

<div id="center" style="display: flex">
    <div>
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">© 2025 SaikoTrade.com Все права защищены. | Сайт разработан с <span class="font-icons">&#xe900;</span> и <span class="font-icons">&#xe901;</span> компанией ”Глобатек”</p>
    </div>

    <div>
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">Мы в соцсетях :</p>
        <a href="https://www.facebook.com/saikotrade-105059154610368">
            <img src="images/media/fb.png" alt="fb">
        </a>
        <a href="https://www.instagram.com/saikotrade">
            <img src="images/media/in.png" alt="in">
        </a>
        <a href="https://vk.com/saikotrade">
            <img src="images/media/vk.png" alt="vk">
        </a>
        <a href="https://t.me/saikotrade">
            <img src="images/media/tg.png" alt="tg">
        </a>
        <a href="https://ok.ru/profile/740191285">
            <img src="images/media/ok.png" alt="ok">
        </a>
    </div>
</div>

<div id="down" style="display: inline-block;">
    <div style="width: auto; padding: 50px; display: flex; justify-content: center;"> 
        <a href="https://saikotrade.com/kak-zakazat/">
            <p id="footer-down-1" class="poppins-14-reg footerdocs">Как заказать</p>
        </a>

        <a href="https://saikotrade.com/obrabotka-personalnykh-dannykh">
            <p id="footer-down-2" class="poppins-14-reg footerdocs">Обработка персональных данных</p>
        </a>

        <a href="https://saikotrade.com/otkaz-ot-otvetstvennosti">
            <p id="footer-down-3" class="poppins-14-reg footerdocs">Отказ от ответственности</p>
        </a>
    </div>

    <div style="width: 386px; display: flex; justify-content: space-between;">
        <a href="https://saikotrade.com/">
            <img src="images/payments/mastercard1.png" alt="mastercard1">
        </a>
        
        <a href="https://saikotrade.com/">
            <img src="images/payments/mastercard2.png" alt="mastercard2">
        </a>
        
        <a href="https://saikotrade.com/">
            <img src="images/payments/visa1.png" alt="visa1">
        </a>
            
        <a href="https://saikotrade.com/">
            <img src="images/payments/visa2.png" alt="visa2">
        </a>
            
        <a href="https://saikotrade.com/">
            <img src="images/payments/paypal.png" alt="paypal">
        </a>
    </div>
</div>