<div id="up">
    
</div>

<div id="center">
    <div>

    </div>

    <div>
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">Мы в соцсетях :</p>
        <a href="https://www.facebook.com/saikotrade-105059154610368">
            <img src="images/media/fb.png" alt="fb">
        </a>
        <a href="https://www.instagram.com/saikotrade">
            <img src="images/media/in.png" alt="in">
        </a>
        <a href="https://vk.com/saikotrade">
            <img src="images/media/vk.png" alt="vk">
        </a>
        <a href="https://t.me/saikotrade">
            <img src="images/media/tg.png" alt="tg">
        </a>
        <a href="https://ok.ru/profile/740191285">
            <img src="images/media/ok.png" alt="ok">
        </a>
    </div>
</div>

<div id="down">
    <div style="width: auto; padding: 50px; display: flex; justify-content: space-between;"> 
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">Как заказать</p>
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">Обработка персональных данных</p>
        <p class="poppins-14-reg" style="color: var(--color-GRAY)">Отказ от ответственности</p>
    </div>

    <div style="width: 386px; display: flex; justify-content: space-between;">
        <img src="images/payments/mastercard1.png" alt="mastercard1">
        <img src="images/payments/mastercard2.png" alt="mastercard2">
        <img src="images/payments/visa1.png" alt="visa1">
        <img src="images/payments/visa2.png" alt="visa2">
        <img src="images/payments/paypal.png" alt="paypal">
    </div>
</div>