<div id="up", style="display: flex; justify-content: center; align-items: center; padding: 0% 10%">
	<div style="display: inline-block">
		<p class="poppins-14-reg" style="color: var(--color-LIGHT-BLACK);">Здравствуйте, Гость!</p>
	</div>

	<span style="display: inline-block; width: 0.5px; height: 25px; margin: 0 10px; background-color: var(--color-LIGHT-GRAY)"></span>

	<div style="display: inline-block">
		<a href="https://saikotrade.com/personal/wishlist/">
			<div style="display: flex; align-items: center;">
				<img src="images/symbols/heart/active.png" alt="heart">
				<p class="poppins-14-reg" style="color: var(--color-RED);">Избранное (0)</p>
			</div>
		</a>
	</div>

	<span style="display: inline-block; width: 0.5px; height: 25px; margin: 0 10px; background-color: var(--color-LIGHT-GRAY)"></span>

	<div style="display: inline-block;">
		<a href="https://saikotrade.com/auth/">
			<div style="display: flex; align-items: center;" onmouseover="headerUpAccount(true)" onmouseout="headerUpAccount(false)">
				<img id="header-up-account-icon" src="images/icons/account-normal.png" alt="account">
				<p id="header-up-account-text" class="poppins-14-reg" style="color: var(--color-LIGHT-BLACK)">Личный кабинет</p>
			</div>
		</a>
	</div>
	
	<span style="display: inline-block; width: 0.5px; height: 25px; margin: 0 10px; background-color: var(--color-LIGHT-GRAY)"></span>

	<div style="display: inline-block">
		<a href="https://saikotrade.com/personal/private/?register=yes">
			<div style="display: flex; align-items: center;" onmouseover="headerUpAccountAdd(true)" onmouseout="headerUpAccountAdd(false)">
				<img id="header-up-account-add-icon" src="images/icons/account-add-normal.png" alt="account">
				<p id="header-up-account-add-text" class="poppins-14-reg" style="color: var(--color-LIGHT-BLACK)">Создать аккаунт</p>
			</div>
		</a>
	</div>
	
	<span style="display: inline-block; width: 0.5px; height: 25px; margin: 0 10px; background-color: var(--color-LIGHT-GRAY)"></span>

	<a href="https://play.google.com/store/apps/details?id=com.saikotrade.app&hl=ru&gl=US">
		<div style="display: inline-block">
			<img src="images/download/googleplay.png" height="30" alt="googleplay">
		</div>
	</a>
	
	<span style="display: inline-block; width: 0.5px; height: 25px; margin: 0 10px; background-color: var(--color-LIGHT-GRAY)"></span>

	<a href="https://apps.apple.com/us/app/saikotrade/id1565500745">
		<div style="display: inline-block">
			<img src="images/download/appstore.png" height="30" alt="appstore">
		</div>
	</a>
</div>

<span style="display: block; width: 100%; height: 0.5px; background-color: var(--color-LIGHT-GRAY)"></span>

<div id="center" style="display: flex; justify-content: space-between; align-items: center; padding: 0% 10%">
	<a href="index.html">
		<div id="header/center/1" style="display: inline-block">
			<img src="images/logo/logo.png" alt="logo">
		</div>
	</a>

	<div id="header/center/2" style="display: inline-block; margin: 0; padding: 0;">
		<div style="display: flex; align-items: center;">
			<img src="images/icons/phone-black.png" alt="phone">
			<p class="poppins-25-bold" style="color: var(--color-BLACK); margin: 0">+8180-58-53-55-25</p>
		</div>

		<div style="display: flex; align-items: center;">
			<img src="images/icons/email.png" alt="email">
			<p class="poppins-25-bold" style="color: var(--color-RED); margin: 0">info@saikotrade.com</p>
		</div>
	</div>

	<div id="header/center/3" style="display: flex">
		<input type="text" placeholder="Поиск по сайту..." style="width: 220px; height: 35px">
		<div id="header-center-search" onmouseover="headerCenterSearch(true)" onmouseout="headerCenterSearch(false)" style="background-color: var(--color-RED); width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; border-radius: 5px;">
			<img src="images/icons/search.png" alt="search">
		</div>
	</div>

	<div id="header/center/4" onmouseover="headerCenterBasket(true)" onmouseout="headerCenterBasket(false)" style="display: flex; justify-content: center; align-items: center; gap: 10px">
		<img id="header-center-basket" src="images/icons/basket-normal.svg" alt="basket-normal" width="50" height="50">
		<div style="">
			<p id="header-center-text1" class="poppins-14-reg" style="color: var(--color-GRAY)">0 позиций</p>
			<p id="header-center-text2" class="poppins-14-bold" style="color: var(--color-GRAY)">0 руб.</p>
		</div>
	</div>
</div>

<div id="down" style="background-color: var(--color-BLACK); padding: 0 10%; width: 100%; height: 56px; display: flex; justify-content: space-between; align-items: center; box-sizing: border-box;">
	<div style="display: flex; justify-content: center">
		<a id="header-down-button1" href="https://saikotrade.com/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-RED); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			ГЛАВНАЯ
		</a>
		<a id="header-down-button2" href="https://saikotrade.com/katalog-tovarov/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			КАТАЛОГ
		</a>
		<a id="header-down-button3" href="https://saikotrade.com/dostavka-i-oplata/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			ДОСТАВКА И ОПЛАТА
		</a>
		<a id="header-down-button4" href="https://saikotrade.com/kak-zakazat/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			КАК ЗАКАЗАТЬ
		</a>
		<a id="header-down-button5" href="https://saikotrade.com/otsledit-posylku/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			ОТСЛЕЖИВАНИЕ
		</a>
		<a id="header-down-button6" href="https://saikotrade.com/o-nas/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			О НАС
		</a>
		<a id="header-down-button7" href="https://saikotrade.com/otzyvy/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			ОТЗЫВЫ
		</a>
		<a id="header-down-button8" href="https://saikotrade.com/blog/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			ПОЛЕЗНЫЕ СТАТЬИ
		</a>
		<a id="header-down-button9" href="https://saikotrade.com/kontakty/" onmouseover="headerDownButton(this.id, true)" onmouseout="headerDownButton(this.id, false)" class="open-sans-14-bold" style="color: var(--color-WHITE); background-color: var(--color-BLACK); display: flex; justify-content: center; align-items: center; height: 56px; padding: 0 12px;">
			КОНТАКТЫ
		</a>
	</div>

	<div style="height: 31px; color: var(--color-WHITE); border: 2px solid var(--color-YELLOW); border-radius: 2px; border-color: var(--color-YELLOW); display: flex; justify-content: center; align-items: center; gap: 5px; padding: 0 10px;" class="button-akcii">
		<img src="images/icons/gift.png" alt="gift" width="20px" height="20px">
		<a href="https://saikotrade.com/aktsii" style="color: var(--color-WHITE)" class="open-sans-14-bold">
			Акции
		</a>
	</div>
</div>