<div id="header-up">
	<div class="header-up-block">
		<p id="header-up-block-welcome-text" class="poppins-14-reg">Здравствуйте, Гость!</p>
	</div>

	<span class="vertical-divider"></span>

	<div class="header-up-block">
		<a class="header-up-block" href="https://saikotrade.com/personal/wishlist/">
			<img src="images/symbols/heart/red-active.svg" alt="heart">
			<p id="header-up-block-favourite-text" class="poppins-14-reg">Избранное (0)</p>
		</a>
	</div>

	<span class="vertical-divider"></span>
	
	<div class="header-up-block">
		<a class="header-up-block" href="https://saikotrade.com/auth/" onmouseover="headerUpAccount(true)" onmouseout="headerUpAccount(false)">
			<img id="header-up-block-account-icon" src="images/icons/account-normal.svg" alt="account">
			<p id="header-up-block-account-text" class="poppins-14-reg">Личный кабинет</p>
		</a>
	</div>
	
	<span class="vertical-divider"></span>

	<div class="header-up-block">
		<a class="header-up-block" href="https://saikotrade.com/personal/private/?register=yes" onmouseover="headerUpAddAccount(true)" onmouseout="headerUpAddAccount(false)">
			<img id="header-up-block-add-account-icon" src="images/icons/account-add-normal.svg" alt="account">
			<p id="header-up-block-add-account-text" class="poppins-14-reg">Создать аккаунт</p>
		</a>
	</div>
	
	<span class="vertical-divider"></span>

	<div class="header-up-block">
		<a href="https://play.google.com/store/apps/details?id=com.saikotrade.app&hl=ru&gl=US">
			<img src="images/download/googleplay.png" height="30" alt="googleplay">
		</a>
	</div>
	
	<span class="vertical-divider"></span>

	<div class="header-up-block">
		<a href="https://apps.apple.com/us/app/saikotrade/id1565500745">
			<img src="images/download/appstore.png" height="30" alt="appstore">
		</a>
	</div>

</div>

<span class="horizontal-divider" style="width: 80%"></span>

<div id="header-center">
	<div id="header-center-logo">
		<a href="index.html">
			<img src="images/logo/logo.png" alt="logo">
		</a>
	</div>

	<div id="header-center-contacts">
		<div id="header-center-contact">
			<img src="images/icons/phone-black.svg" alt="phone">
			<p id="header-center-contact-number" class="poppins-25-bold">+8180-58-53-55-25</p>
		</div>

		<div id="header-center-contact">
			<img src="images/icons/email.svg" alt="email">
			<p id="header-center-contact-email" class="poppins-25-bold">info@saikotrade.com</p>
		</div>
	</div>

	<div id="header-center-search">
		<input id="header-center-search-field" type="text" placeholder="Поиск по сайту...">
		<div id="header-center-search-button" onmouseover="headerCenterSearch(true)" onmouseout="headerCenterSearch(false)">
			<img src="images/icons/search.svg" alt="search">
		</div>
	</div>

	<div id="header-center-basket" onmouseover="headerCenterBasket(true)" onmouseout="headerCenterBasket(false)">
		<img id="header-center-basket-icon" src="images/icons/basket-normal.svg" alt="basket-normal">
		<div>
			<p id="header-center-basket-text1" class="poppins-14-reg">0 позиций</p>
			<p id="header-center-basket-text2" class="poppins-14-bold">0 руб.</p>
		</div>
	</div>
</div>

<div id="header-down">
	<div class="header-down-blocks">
		<a class="header-down-block header-down-block--first open-sans-14-bold" href="https://saikotrade.com/">
			ГЛАВНАЯ
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/katalog-tovarov/">
			КАТАЛОГ
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/dostavka-i-oplata/">
			ДОСТАВКА И ОПЛАТА
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/kak-zakazat/">
			КАК ЗАКАЗАТЬ
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/otsledit-posylku/">
			ОТСЛЕЖИВАНИЕ
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/o-nas/">
			О НАС
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/otzyvy/">
			ОТЗЫВЫ
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/blog/">
			ПОЛЕЗНЫЕ СТАТЬИ
		</a>
		<a class="header-down-block open-sans-14-bold" href="https://saikotrade.com/kontakty/">
			КОНТАКТЫ
		</a>
	</div>

	<div class="button-offer">
		<img id="button-offer-icon" src="images/icons/gift.svg" alt="gift">
		<a id="button-offer-text" class="open-sans-14-bold" href="https://saikotrade.com/aktsii">
			Акции
		</a>
	</div>
</div>