<header>
	<div id="up">
		<div style="display: inline-block">
			<p class="poppins-14-reg" style="color: var(--color-LIGHT-BLACK);">Здравствуйте, Гость!</p>
		</div>

		<div style="display: inline-block">
			<div style="display: flex; align-items: center;">
				<img src="images/symbols/heart/active.png" alt="heart">
				<p class="poppins-14-reg" style="color: var(--color-RED);">Избранное (0)</p>
			</div>
		</div>

		<div style="display: inline-block">
			<div style="display: flex; align-items: center;">
				<img src="images/icons/account.png" alt="account">
				<p class="poppins-14-reg" style="color: var(--color-LIGHT-BLACK)">Личный кабинет</p>
			</div>
		</div>	

		<div style="display: inline-block">
			<div style="display: flex; align-items: center;">
				<img src="images/icons/account-add.png" alt="account">
				<p class="poppins-14-reg" style="color: var(--color-LIGHT-BLACK)">Создать аккаунт</p>
			</div>
		</div>

		<div style="display: inline-block">
			<img src="images/download/googleplay.png" height="30" alt="googleplay">
		</div>

		<div style="display: inline-block">
			<img src="images/download/appstore.png" height="30" alt="appstore">
		</div>
	</div>

	<div id="center">
		<div id="header/center/1" style="display: inline-block">
			<img src="images/logo/logo.png" alt="logo">
		</div>

		<div id="header/center/2" style="display: inline-block">
			<div style="display: flex; align-items: center;">
				<img src="images/icons/phone.png" alt="phone">
				<p class="poppins-25-bold" style="color: var(--color-BLACK)">+8180-58-53-55-25</p>
			</div>

			<div style="display: flex; align-items: center;">
				<img src="images/icons/email.png" alt="email">
				<p class="poppins-25-bold" style="color: var(--color-RED);">info@saikotrade.com</p>
			</div>
		</div>

		<div id="header/center/3" style="display: inline-block">

		</div>

		<div id="header/center/4" style="display: inline-block">

		</div>
	</div>
	
	<div id="down" style="background-color: var(--color-BLACK);">

	</div>
</header>